<div>
    <a class="btn btn-primary" routerLink="/viajes/crear"  routerLinkActive="active" ariaCurrentWhenActive="page">Crear un viaje</a>
</div>

<form class="form">
    <div class="row">
        <div class="col">
            <label>Universidad</label>
            <select class="form-select" style="width: 200px;" type="text" [(ngModel)]="universidadId" id="universidadForm" name="universidadId" (change)="getCentrosByUniversidadId(universidadId)" required>
                <option [ngValue]="0">---</option>
                @for (uni of universidades; track $index) {
                    <option [ngValue]="uni.id">{{uni.nombre}}</option>
                }
            </select>
        </div>
        <div class="col">
            <label>Centro</label>
            <select class="form-select" type="text" [(ngModel)]="centroId" id="centroForm" name="centroId" required><br/>
                <option [ngValue]="0">---</option>
                @for (centro of centros; track centro.id) {
                    <option [ngValue]="centro.id">{{centro.nombre}}</option>
                }
            </select>
        </div>
        <div class="col">
            <label>Municipio</label>
            <select class="form-select" type="text" [(ngModel)]="municipioId" id="municipioForm" name="municipioId" (change)="getNucleosByMunicipioId(municipioId)" required>
                <option value="0">---</option>
                @for (mun of municipios; track municipioId) {
                    <option [ngValue]="mun.id">{{mun.nombre}}</option>
                }
            </select>
        </div>
        <div class="col">
            <label>Núcleo</label>
            <select class="form-select" type="text" [(ngModel)]="nucleoId" id="nucleoForm" name="centroId" required>
                <option [ngValue]="0">---</option>
                @for (nucleo of nucleos; track nucleo.id) {
                    <option [ngValue]="nucleo.id">{{nucleo.nombre}}</option>
                }
            </select>
        </div>
        <div class="col">
            <label>Dirección</label>
            <select class="form-select" type="text" [(ngModel)]="isVuelta" name="isVuelta">
                <option [ngValue]="false">Ida (dirección universidad)</option>
                <option [ngValue]="true">Vuelta (dirección casa)</option>
            </select> 
        </div>
        <div class="col">
            <label>Fecha</label>
            <input class="datepicker" type="date" [(ngModel)]="fechaYHora" id="horaForm" name="fechaYHora" required>
        </div>
        <div>
            <button class="btn btn-secondary" (click)="filtrar()">Buscar</button>
        </div>
    </div>

</form>

<app-viaje-list
    [viajes]="viajes"
/>