<div class="container-fluid p-4">
    <div class="card bg-light">
        <div class="row">
            <div class="col">
                <img 
                    src="{{salidaImg()}}"
                    alt="{{viaje?.nucleo!.nombre}} ({{viaje?.nucleo!.municipio.nombre}})"
                >
                <img
                    src="{{destinoImg()}}"
                    alt="{{viaje?.centro!.nombre}} ({{viaje?.centro!.universidad.nombre}})"
                >
            </div>
        </div>
        <div class="card-body">
            <h2>Detalles del viaje</h2>
            <p><strong>Salida desde:</strong> {{getOrigen()}}</p>
            <p><strong>Destino:</strong> {{getDestino()}}</p>
            <p><strong>Día:</strong> {{viaje?.fechaYHora!.toLocaleDateString()}}</p>
            <p><strong>Hora:</strong> {{viaje?.fechaYHora!.toLocaleTimeString()}}</p>
            <p><strong>Descripción del coche:</strong> {{viaje?.descripcionCoche}}</p>
            <p><strong>Precio:</strong> {{viaje?.precio}}</p>
        </div>
    </div>
</div>

<div class="container-fluid p-">


    <div class="container">
        <h3>Conductor</h3>

        <app-viaje-conductor
            [idUsuario]="viaje!.conductorId"
            [comentarios]="viaje!.comentarios"
        />
    </div>

</div>


<div class="container-fluid p-4">
    <h3>Pasajeros ({{plazas.length}}/{{viaje?.maxPlazas}})</h3>

    <div class="pb-4">
        <app-viaje-plaza-list
        [plazaList]="plazas"
        [hideButtons]="!isMyself()"
        (onPlazaDelete)="handlePlaza(false, $event, '')"
    />
    </div>

    <div>
        @if(!isMyself()){
            @if (plazaAvailable()) {
                <p><a class="btn btn-primary" href="{{'/viaje/' + viaje!.id + '/solicitud'}}" ariaCurrentWhenActive="page">Solicitar plaza</a></p>
            } @else {
                <p>No quedan plazas disponibles para este viaje</p>
            }
        }
    </div>


</div>

@if(isMyself()){
    <div class="container-fluid p-4">
        <h2>Solicitudes</h2>

        <app-viaje-plaza-list
            [plazaList]="solicitudes"
            [hideButtons]="!plazaAvailable()"
            (onPlazaAccept)="handlePlaza(true, $event, '')"
            (onPlazaReject)="handlePlaza(false, $event, '')"
        />
    </div>

    <div class="container-fluid p-4">
        <a class="btn btn-secondary" href="{{'/viaje/' + viaje!.id + '/editar'}}">Editar viaje</a>
        <button class="btn btn-danger" (click)="deleteViaje()">Borrar viaje</button>
    </div>

}
    