<div class="row">
    <div class="col">
        @if(!noti!.leida){
            ¡Nueva! 
        }            
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card bg-light">
            <div class="card-body">
                <h5>{{noti!.mensaje}}</h5>
            </div>
        </div>
    </div>
    <div class="col">
        @if(noti?.viajeId){
            <a class="btn btn-secondary" href="{{'/viaje/' + noti!.viajeId}}">Ver</a>
        }
        <button class="btn btn-danger" (click)="deleteNotification(noti!.id)">Eliminar</button>

    </div>
</div>
