@if (usuarioId) {
    <form>
        <div class="row pt-2 pb-2">
            <div class="col">
                <label>Universidad (*)</label>
                <select class="form-select" type="text" [(ngModel)]="universidadId" id="universidadForm" name="universidadId" (change)="getCentrosByUniversidadId(universidadId)" required>
                    <option value="0">---</option>
                    @for (uni of universidades; track $index) {
                        <option value="{{uni.id}}">{{uni.nombre}}</option>
                    }
                </select>
            </div>
            <div class="col">
                <label>Centro (*)</label>
                <select class="form-select" type="text" [(ngModel)]="viaje!.centro.id" id="centroForm" name="viaje.centro.id" required>
                    <option value="0">---</option>
                    @for (centro of centros; track centro.id) {
                        <option value="{{centro.id}}">{{centro.nombre}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col">
                <label>Municipio (*)</label>
                <select class="form-select" type="text" [(ngModel)]="municipioId" id="municipioForm" name="municipioId" (change)="getNucleosByMunicipioId(municipioId)" required>
                    <option value="0">---</option>
                    @for (mun of municipios; track municipioId) {
                        <option value="{{mun.id}}">{{mun.nombre}}</option>
                    }
                </select>
            </div>
            <div class="col">
                <label>Núcleo (*)</label>
                <select class="form-select" type="text" [(ngModel)]="viaje!.nucleo.id" id="nucleoForm" name="viaje.nucleo.id" required>
                    <option value="0">---</option>
                    @for (nucleo of nucleos; track nucleo.id) {
                        <option value="{{nucleo.id}}">{{nucleo.nombre}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col">
                <label>Dirección (*)</label>
                <select class="form-select" type="text" [(ngModel)]="isVuelta" name="viaje.isVuelta">
                    <option value="false">Ida (dirección universidad)</option>
                    <option value="true">Vuelta (dirección casa)</option>
                </select>
            </div>
            <div class="col">
                <label>Fecha y Hora (*)</label>
                <input class="form-control" type="datetime-local" [(ngModel)]="viaje!.fechaYHora" id="horaForm" name="viaje.fechaYHora" required>
            </div>
            <div class="col">
                <label>Número de plazas (*)</label>
                <input class="form-control" type="number" [(ngModel)]="viaje!.maxPlazas" id="maxPlazasForm" name="viaje.maxPlazas" required>
            </div>
            <div class="col">
                <label>Precio (*)</label>
                <input class="form-control" type="number" [(ngModel)]="viaje!.precio" id="precioForm" name="viaje.precio" required>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col">
                <label>Descripción del coche</label>
                <input class="form-control" type="text" [(ngModel)]="viaje!.descripcionCoche" id="descripcionCocheForm" name="viaje.descripcionCoche" required>    
            </div>
            <div class="col">
                <label>Comentarios adicionales</label>
                <input class="form-control" type="text" [(ngModel)]="viaje!.comentarios" id="comentariosForm" name="viaje.comentarios" required>        
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col">
                <button class="btn btn-primary" type="button" (click)="submit()">{{submitButtonText}}</button>
            </div>
            <div class="col">
                @if (error) {
                    <p style="color: red;">Los datos introducidos no son correctos</p>
                }
            </div>
        </div>



    
    
    </form>
} @else {
    <p>Debes iniciar sesión para crear un viaje</p>
}

