<p>usuario works!</p>

<h1>{{usuario.nombre}}</h1>

<img src="{{'https://res.cloudinary.com/dilfzvvw4/image/upload/v1716716882/' + usuario.imagen + '.jpg'}}"/>

<h2>{{usuario.valoracionMedia}} estrellas ({{usuario.numValoraciones}} valoraciones)</h2>

<p>Correo: {{usuario.correo}}</p>
<p>Teléfono: {{usuario.telefono}}</p>

@if(usuario.municipio){
    <p>Vive en {{usuario.municipio.nombre}}</p>
}

@if (usuario.grado) {
    <p>Estudiante de {{usuario.grado}} </p>
}

@if(usuario.universidad){
    <p>{{usuario.universidad.nombre}}</p>
}

@if(isMyself()){
    <a href="{{'/usuario/' + usuario.id + '/editar'}}">Editar información</a>
} @else {

    @if (!this.userId) {
        <p>Inicia sesión para añadir una valoración</p>
    } @else if (prevRated) {
        Tu valoración: <input type="number" [(ngModel)]="valoracion.estrellas" [max]="5" [min]="0"/> <button (click)="updateValoracion()">Modificar</button><button (click)="deleteValoracion()">Borrar valoración</button>
    } @else {
        Valorar: <input type="number" [(ngModel)]="valoracion.estrellas" [max]="5" [min]="0"/> <button (click)="createValoracion()">Enviar</button>
    }
}

<h2>Próximos viajes</h2>
@for (viaje of viajes; track viaje.id) {
    <a routerLink="{{'/viaje/' + viaje.id}}"  routerLinkActive="active" ariaCurrentWhenActive="page">Viaje de {{viaje.nucleo.nombre}} a {{viaje.centro.nombre}} ({{viaje.fechaYHora}})</a><br/>
}
