webapi/.vs/webapi/FileContentIndex/1a0b60fd-9c59-4a5d-b7b3-1808d26a55c1.vsidx
webapi/.vs/webapi/FileContentIndex/21af021d-dea8-4723-bb55-ae0ce60cd7f6.vsidx
webapi/.vs/webapi/FileContentIndex/6380165e-3a81-49f8-b9ce-226a2474b045.vsidx
webapi/.vs/webapi/FileContentIndex/e4ae6da8-5640-4d49-ab9b-61af87310440.vsidx
webapi/.vs/webapi/FileContentIndex/efc8bafc-1d19-44ea-b73e-f94e20f9fcef.vsidx
webapi/.vs/webapi/FileContentIndex/efe82f27-c5f9-489e-b31f-46fe4591abd6.vsidx
webapi/webapi/obj/project.assets.json
webapi/webapi/obj/project.nuget.cache
webapi/webapi/obj/webapi.csproj.nuget.dgspec.json
webapi/webapi/obj/webapi.csproj.nuget.g.props
webapi/webapi/obj/Debug/net8.0/apphost.exe
webapi/webapi/obj/Debug/net8.0/webapi.AssemblyInfo.cs
webapi/webapi/obj/Debug/net8.0/webapi.AssemblyInfoInputs.cache
webapi/webapi/obj/Debug/net8.0/webapi.assets.cache
webapi/webapi/obj/Debug/net8.0/webapi.GeneratedMSBuildEditorConfig.editorconfig
webapi/webapi/obj/project.assets.json
webapi/webapi/obj/project.nuget.cache
webapi/webapi/obj/webapi.csproj.nuget.dgspec.json
webapi/webapi/obj/webapi.csproj.nuget.g.props
webapi/webapi/obj/Debug/net8.0/webapi.AssemblyInfo.cs
webapi/webapi/obj/Debug/net8.0/webapi.AssemblyInfoInputs.cache
webapi/webapi/obj/Debug/net8.0/webapi.assets.cache
webapi/webapi/obj/Debug/net8.0/webapi.csproj.AssemblyReference.cache
webapi/webapi/obj/Debug/net8.0/webapi.GeneratedMSBuildEditorConfig.editorconfig
