<p>viajes works!</p>

<p><a routerLink="/viajes/crear"  routerLinkActive="active" ariaCurrentWhenActive="page">Crear un viaje</a></p>

<form>
    <label>Universidad</label>
    <select type="text" [(ngModel)]="universidadId" id="universidadForm" name="universidadId" (change)="getCentrosByUniversidadId(universidadId)" required>
        <option value="0">---</option>
        @for (uni of universidades; track $index) {
            <option value="{{uni.id}}">{{uni.nombre}}</option>
        }
    </select>

    <label>Centro</label>
    <select type="text" [(ngModel)]="centroId" id="centroForm" name="centroId" required><br/>
        <option value="0">---</option>
        @for (centro of centros; track centro.id) {
            <option value="{{centro.id}}">{{centro.nombre}}</option>
        }
    </select>

    <label>Municipio</label>
    <select type="text" [(ngModel)]="municipioId" id="municipioForm" name="municipioId" (change)="getNucleosByMunicipioId(municipioId)" required>
        <option value="0">---</option>
        @for (mun of municipios; track municipioId) {
            <option value="{{mun.id}}">{{mun.nombre}}</option>
        }
    </select>

    <label>Núcleo</label>
    <select type="text" [(ngModel)]="nucleoId" id="nucleoForm" name="centroId" required>
        <option value="0">---</option>
        @for (nucleo of nucleos; track nucleo.id) {
            <option value="{{nucleo.id}}">{{nucleo.nombre}}</option>
        }
    </select>

    <label>Dirección</label>
    <select type="text" [(ngModel)]="isVuelta" name="isVuelta">
        <option value="false">Ida (dirección universidad)</option>
        <option value="true">Vuelta (dirección casa)</option>
    </select> 


    <label>Fecha</label>
    <input type="date" [(ngModel)]="fechaYHora" id="horaForm" name="fechaYHora" required><br/>

    <button (click)="filtrar()">Buscar</button>
</form>

@for (viaje of viajes; track viaje.id) {
    <img src="{{viaje.nucleo.imagen}}" class="cropped"/> <img src="{{viaje.centro.imagen}}" class="cropped"/><br/>
    <a routerLink="{{'/viaje/' + viaje.id}}"  routerLinkActive="active" ariaCurrentWhenActive="page">Viaje de {{salida(viaje)}} a {{destino(viaje)}} ({{viaje.fechaYHora}})</a><br/>
}