<div class="row">
    <div class="col">
        <h1 routerLink="/" class="dark">carpooling</h1>
    </div>
    
    <div class="col container text-allign-end text-dark">
        <ul ngbNav class="row bg-light">
            @if(usuario){
                <li class="col">
                    @if(usuario && usuario.isAdmin){
                        <a href="/admin/0">Administración</a>
                    }
                </li>
                <li class="col">
                    <a class href="{{'/notificaciones'}}" ariaCurrentWhenActive="page">Notificaciones ({{usuario.notificacionesNoLeidas}})</a>
                </li>
                <li class="col">
                    <a href="{{'/usuario/' + usuarioId}}"  routerLinkActive="active" ariaCurrentWhenActive="page">Perfil de {{usuario.nombre}}</a>
                </li>
                <li class="col">
                    <button class="btn btn-dark" (click)="logout()">Cerrar sesión</button>
                </li>            
            } @else {
                <li>
                    <button class="btn btn-primary" (click)="login()">Iniciar sesión</button>
                </li>
            }
        </ul>
    </div>
</div>