<div class="card" style="width: 302px; height: 300px;" routerLink="{{'/viaje/' + viaje!.id}}">
    <div class="row">
        <div class="col">
            <img 
                src="{{salidaImg()}}"
            >
            <img
                src="{{destinoImg()}}"
            >
        </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{salida()}} -> {{destino()}}</h5>
      
      @if (viaje?.isVuelta) {
        <strong>Lugar de destino:</strong> {{viaje?.nucleo?.nombre}}<br/>
      } @else {
        <strong>Salida desde:</strong> {{viaje?.nucleo?.nombre}}<br/>
      }

      <strong>Hora de salida:</strong> {{viaje?.fechaYHora?.toLocaleString()}}<br/>
    </div>
</div>
