<p>solicitudform works!</p>

<form>
    <label>Nombre</label><br/>
    <input type="text" [(ngModel)]="plaza.nombre" name="plaza.nombre"/><br/>
    
    <label>Correo</label><br/>
    <input type="text" [(ngModel)]="plaza.correo" name="plaza.correo"/><br/>

    <label>Teléfono</label><br/>
    <input type="text" [(ngModel)]="plaza.telefono" name="plaza.telefono"/><br/>

    <label>Comentarios</label><br/>
    <input type="text" [(ngModel)]="plaza.comentariosPasajero" name="plaza.comentariosPasajero"/><br/>

    <button (click)="submitSolicitud()">Solicitar</button>

</form>