<p>viaje works!</p>
<h1>Detalles del viaje</h1>
<p>Salida desde: {{getOrigen()}}</p>
<p>Destino: {{getDestino()}}</p>
<p>Hora: {{viaje.fechaYHora.getHours()}}:{{viaje.fechaYHora.getMinutes()}}</p>
<p>Conductor: <a routerLink="{{'/usuario/' + viaje.conductor.id}}"  routerLinkActive="active" ariaCurrentWhenActive="page">{{viaje.conductor.nombre}} ({{viaje.conductor.valoracionMedia}} estrellas)</a></p>
<p>Coche: {{viaje.descripcionCoche}}</p>

@if(!isMyself()){
    @if (plazas.length < viaje.maxPlazas) {
        <p><a routerLink="{{'/viaje/' + viaje.id + '/solicitud'}}" routerLinkActive="false" ariaCurrentWhenActive="page">Solicitar plaza</a></p>
    } @else {
        <p>No quedan plazas disponibles para este viaje</p>
    }
}

<h2>Plazas</h2>

@for (plaza of plazas; track $index) {
    <p>{{plaza.nombre}}
        @if(isMyself()){
            : "{{plaza.comentariosPasajero}}" <button (click)="handlePlaza(false, plaza.id, '')">Eliminar</button>
        }
    </p>
}

@if(isMyself()){
    <h2>Solicitudes</h2>

    @for (plaza of solicitudes; track $index) {
        <p>{{plaza.nombre}}: "{{plaza.comentariosPasajero}}" - <button (click)="handlePlaza(true, plaza.id, '')">Aceptar</button> - <button (click)="handlePlaza(false, plaza.id, '')">Rechazar</button></p>
    }

    <a href="{{'/viaje/' + viaje.id + '/editar'}}">Editar viaje</a>
    <button (click)="deleteViaje()">Borrar viaje</button>
}
