<p>viaje works!</p>
<h2>Detalles del viaje</h2>
<p>Salida desde: {{getOrigen()}}</p>
<p>Destino: {{getDestino()}}</p>
<p>Hora: {{viaje.fechaYHora.getHours()}}:{{viaje.fechaYHora.getMinutes()}}</p>
<p>Coche: {{viaje.descripcionCoche}}</p>

@if(!isMyself()){
    @if (plazas.length < viaje.maxPlazas) {
        <p><a routerLink="{{'/viaje/' + viaje.id + '/solicitud'}}" routerLinkActive="false" ariaCurrentWhenActive="page">Solicitar plaza</a></p>
    } @else {
        <p>No quedan plazas disponibles para este viaje</p>
    }
}

<h3>Conductor</h3>

<div class="card bg-light" style="width: 200px;">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <img style="width: 50px;" src="{{'https://res.cloudinary.com/dilfzvvw4/image/upload/v1716716882/' + viaje.conductor.imagen + '.jpg'}}"/>
            </div>
            <div class="col">
                <p class="card-title">{{viaje.conductor.nombre}}</p>
            </div>
        </div>
    </div>

</div>

<h3>Pasajeros</h3>

@for (plaza of plazas; track $index) {
    <p>{{plaza.nombre}}
        @if(isMyself()){
            : "{{plaza.comentariosPasajero}}" <button (click)="handlePlaza(false, plaza.id, '')">Eliminar</button>
        }
    </p>
}

@if(isMyself()){
    <h2>Solicitudes</h2>

    @for (plaza of solicitudes; track $index) {
        <p>{{plaza.nombre}}: "{{plaza.comentariosPasajero}}" - <button (click)="handlePlaza(true, plaza.id, '')">Aceptar</button> - <button (click)="handlePlaza(false, plaza.id, '')">Rechazar</button></p>
    }

    <a href="{{'/viaje/' + viaje.id + '/editar'}}">Editar viaje</a>
    <button (click)="deleteViaje()">Borrar viaje</button>
}
